#t1
{
    text-align: center;

}

#imgGauche
{
    position: relative;
}
#imgmilieu
{
    position: relative;
}
#imgDroite
{
    position: relative;

}
.img
{
height: 150px;

margin: 15px;
    
}
ul
{
    list-style: none;

}
#Laroulette
{
    padding-left: 150px;
}
.images
{
    display: flex;
	padding-top: 10%;
    overflow: hidden;
    height: 200px;
	margin-bottom: 10%;
	
}

html, body 
{
  font-family:  Arial;
  color: black;
  
  
}
body 
{

background-image: url(../IMAGES/IMAGES/villedijon.jpg);
background-size: 1800px;
}
#Mise
{
    background-color: white
	

}
#Cagnotte
{
    background-color: white
}
#deplacementbtnLancer
{
    margin-right: 500px;
}
#button
{
    margin-bottom: 25px;
	font-size: 50px;
    background-color:blueviolet;
	width: 350px;
	height: 100px;
    margin-left: 600px;
    margin-top: 0px;
}


@keyframes morph 
{
	0% {
		border-radius: 100px 30px 100px 30px;
	} 50% {
		border-radius: 30px 100px 30px 100px;
	} 100% {
		border-radius: 100px 30px 100px 30px;
	}
}

@keyframes rot 
{
	0% {
		transform: rotate(-3deg);
	} 50% {
		transform: rotate(3deg);
	} 100% {
		transform: rotate(-3deg);
	}
}
